
.counter-h3{
    color:#631A86;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    /* position: relative; */
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100vw;
    /* background-color: aliceblue; */
}
.changeBtn{
    cursor: pointer;
    background-color: #631A86;
    color: white;
    margin:10px 30px;
    border:none;
    /* padding:5px; */
    width: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, hsla(350, 73%, 47%, 1) 0%, rgb(43, 51, 92) 100%);
    font-size: 1.8rem;
    box-shadow: 0.5px 0.5px 5px 0px #3f3445;
}
.changeBtn:hover{
    transform:translate(1px, -0.5px);
    background: linear-gradient(90deg, #962235, #0833a0);
}
.counter-p{
    margin:0;
    text-align: center;
    color:#3f3445;
    font-size:0.9rem;
    font-style:italic;
}
#popMsg{
    background-color: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 3px 0px;
    width: 200px;
    /* visibility: hidden; */
    position:absolute;
    /* background-color: #ffbf69; */
    /* animation: fadeOut 1s ease-in-out 1s forwards; */
}
/* @keyframes fadeOut {
    to {
      opacity: 0;
      transform: translateY(-10px);
    },,    
  } */