.joke-h3{
    color: #F77F00;
    font-size: 1.7rem;
}

#joke-img{
    width: 150px;
    height: 100px;
}

.joke-container{
    box-sizing: border-box;
    /* border: 1px solid #F77F00; */
    box-shadow: 0.2px 0.2px 10px -5px #362614;
    border-radius: 15px;
    width: 90vw;
    height: 500px;
    padding: 20px 15px;
    margin: 20px auto;
}
.joke-category-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    margin-bottom: 20px;
    /* border: 1px solid #362614; */
}
.joke-category{
    border: none;
    background-color: #FCBF49;
    box-shadow: 0.2px 0.2px 7px -4px #362614;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.joke-category:hover, .active{
    background-color: #F77F00;
    color: white;
    cursor: pointer;
}

.joke-display{
    margin: 50px;
    /* background-color: #F77F00; */
    padding: 20px;
}
.joke-stmt{
    margin-top: 20px;
}