 

.music-h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    color: #4C191B;
    text-align: center;
    margin-bottom: 20px;
}
#thumbnail, .songInfo{
    width: 15rem;
    height: 15rem;
    /* height: 30vh; */
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px -3px #4C191B;
    cursor: pointer;
}

.songInfo{
    background-color: #963D5A;
    position: absolute;
    opacity: 0.8;
    box-sizing: border-box;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: #ECFFF8;
    display: none;
}



.music-ul{
    margin-right: 10px;
}
.music-li{
    margin-right: 10px;
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#thumbnail:hover ~ .songInfo,.songInfo:hover {
    display: flex;
}

.musicbox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-container{
    display: flex;
    /* background-color: #34073D; */
    /* margin-top: 20px; */
    padding: 10px;
}

#musicName{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.musicBox-btn{
    margin:auto 20px;
    border: none;
    padding:10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* color: #963D5A; */
    cursor: pointer;
    background: linear-gradient(90deg, #963D5A, #34073D);
    box-shadow: 0.5px 0.5px 10px -1px #4C191B;
}
/* 
.musicBox-btn-icon{
    height: 40px;
} */

.progressBar-conatiner{
    /* background-color: #000; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

#progressBar{
    width: 100%;
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  appearance: none;
  /* background-color: #deb4c3; */
  border-radius:10px ;
  height: 7px;
  cursor: pointer;
}

#progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #34073D;
    cursor: pointer;
}
