.user-list-container{
    /* background-color:black; */
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 10px -5px #364156;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    overflow-y: scroll;
}
.user-list-h3{
    color: #1B2A41;
    font-size: 1.5rem;
}
.user-list-button-container{
    display: flex;
    /* background-color: #d9dce0; */
    padding: 15px;
    justify-content: center;
    gap: 30px;
}
.user-list-btn{
    border: none;
    background: linear-gradient(90deg, hsla(350, 73%, 47%, 1) 0%, hsla(230, 33%, 47%, 1) 100%);
    color: white;
    padding: 7px 20px;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 5px 0px #364156;
    cursor: pointer;
    font-weight: bold;
    
}

.user-list-btn:hover {
    transform:translate(1px, -0.5px);
    /* background: #1B2A41; */
    background: linear-gradient(90deg, #962235, #0833a0);
}

form{
    padding: 10px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #214E34; */
}
.input-feild{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #CCC9DC;
    border-bottom: 1px solid #214E34;
    margin-bottom: 15px;
    outline: none;
}
.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

table,tr,td,th{
    border: 0.5px groove #0C1821;
    
    padding: 5px 10px;
    border-collapse: collapse;
}
.user-list-h4{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
table{
    width: 70%;
}
thead{
    background-color: #CCC9DC;
    font-size: 0.9rem;
    font-weight:normal;
}

.alert-msg{
    display: block;
    width: 100%;
    background-color: #1B2A41;
}

/* toggle styling */
.user-list-toggle-container{
    width: 100px;
    height: 20px;
    position: fixed;
    top: 30px;
    right: 50px;
    /* background-color: #a3aeca; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    
}

.user-list-toggle-element{
    width: 70%;
    height: 100%;
    background-color: #1B2A41;
    border-radius: 50px;
    cursor: pointer;
}

.user-list-icon{
    width: 20px;
    height: 20px;
}

.user-list-toggle-btn{
    background-color: #CCC9DC;
    width: 20px;
    height: 100%;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}