body{
    background:white;
    margin:0;
    display:flex;
    justify-content:space-evenly;
    padding-top:50px; 
    flex-wrap:wrap;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
}
.program-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.app-h3{
    font-size: 1.7rem;
}

.app-p{
    font-size: 1rem;
    color: #483D03;
}

.app-select{
    border: none;
    background-color: #646536;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
    width: 200px;

}